html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to bottom, #D2D2D2, 10%, #fff 15% );*/
    background-image: url('../img/Lovepik_com-400143419-gray-bottom-geometry.jpg');
    background-size: cover;
}

footer {
    background-color: #0a53be;
    height: 13%;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1{

}

/*.col{
    background-color: blue;
    margin: auto;
    border: #20c997;
}*/
.row{

}

.img_utez{
    height: 8%;
    display: flex;
    position: fixed;
    bottom: 2.5%;
    left: 7%;
}

.proy_logo{
    height: 6%;
    display: flex;
    position: fixed;
    bottom: 2.5%;
    right: 5%;
}

.btn btn-outline-primary me-2{
    display: flex;
    position: fixed;
    right: 10%;
}

.img_wom{
    display: flex;
    position: fixed;
    height: 60% ;
    bottom: 11%;
}

.d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom{
    background-color: #20c997;
}

#MYBTN{
display: flex;
    position: fixed;
    right: 20%;
    bottom: 45%;
    height: 8%;
}

.btn{
    font-size: 16pt;
}